<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="/resources/ownVacancy.css" />
    <title>Title</title>
</head>
<body>
<header class="header">

    <div class="header__inner">

        <div class="logo__btn">
            <a class="logo__link">
                <img class="logo__img" src="/img/logo1.jpg" alt="logo">
            </a>

            <form method="get" action="/employee/main">
                <button class="header__btn">
                    Вакансии
                </button>
            </form>
        </div>
        <nav class="header__menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="menu__list-link" href="/employee/vacancy/create">Создать вакансий</a>
                </li>
                <li class="menu__list-item">
                    <form method="get" action="/employee/responses">
                        <button class="menu__list-link__btn">
                            Отклики
                        </button>
                    </form>
                </li>
                <li class="menu__list-item">
                    <form method="get" action="/logout">
                        <button class="menu__list-link__btn">Выход</button>
                    </form>
                </li>

            </ul>

        </nav>


    </div>
</header>



<section class="job__vacancy">

    <div class="container">
            <div class="job__vacancy__inner">

                {{range .}}
                <div class="job__vacancy__inner__block">
                        <div class="job__vacancy__title_salary">
                            <h3 class="job__vacancy_title">
                             {{ .JobTitle }}
                            </h3>
                            <span class="job__vacancy__salary">

                        </span>
                        </div>

                        <p class="job__vacancy__company">
                           {{.CompanyTitle}}
                        </p>
                        <p class="job__vacancy__city">
                          {{.Salary}} KZT
                        </p>
                        <p class="job__vacancy__description">
                          {{.JobDescription}}
                        </p>
                    <form method="post" action="/employee/vacancy/delete">
                        <button type="submit" class="job__vacancy__response" name="Id" value="{{.Id}}">
                            Удалить
                        </button>
                    </form>

                    </div>
                {{end}}
            </div>
    </div>
</section>

</body>
</html>