<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="/resources/responses.css" />
    <title>responses</title>
</head>
<body>
<header class="header">

    <div class="header__inner">

        <div class="logo__btn">
            <a class="logo__link" href="#">
                <img class="logo__img" src="/img/logo1.jpg" alt="logo">
            </a>

            <form method="get" action="/employee/main">
                <button class="header__btn">
                    Вакансии
                </button>
            </form>
        </div>
        <nav class="header__menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="menu__list-link" href="/employee/vacancy/create">Создать вакансий</a>
                </li>
                <li class="menu__list-item">
                    <form method="get" action="/employee/own/vacancy">
                        <button class="menu__list-link__btn">Мои вакансий</button>
                    </form>
                </li>
                <li class="menu__list-item">
                    <form method="get" action="/logout">
                        <button class="menu__list-link__btn">Выход</button>
                    </form>
                </li>

            </ul>

        </nav>
    </div>
</header>

<section class="section__responses">

    <div class="container">

        <form method="post" action="">
            <button class="clear__all">
                Очистить все
            </button>
        </form>

        <div class="responses__inner">

            {{range .}}
            <div class="responses__inner__blocks">

                <h4 class="response__name__surname">
                    {{.UserSurname}} {{.UserName}}
                </h4>
                <p class="response__phone">
                    {{.UserPhone}}
                </p>
                <p class="response__vacancy__title">
                    {{.JobTitle}}
                </p>
                <p class="response__company">
                    {{.CompanyTitle}}
                </p>
                <p class="response__city">
                    {{.UserCity}}
                </p>
                <form method="post" action="/employee/responses/delete">
                    <button class="clear__response"  name="Id" value="{{.ResponseId}}">
                        Удалить
                    </button>
                </form>

            </div>
            {{ end }}
        </div>
    </div>

</section>

</body>
</html>