<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="/resources/resume.css" />
    <title>resume</title>
</head>
<body>

<header class="header">

    <div class="header__inner">

        <div class="logo__btn">
            <a class="logo__link">
                <img class="logo__img" src="/img/logo1.jpg" alt="logo">
            </a>

            <form method="get" action="/user/main">
                <button class="header__btn">
                    Вакансии
                </button>
            </form>
        </div>
        <nav class="header__menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <form method="get" action="/logout">
                        <button class="menu__list-link__btn">Выход</button>
                    </form>
                </li>

            </ul>

        </nav>
    </div>

</header>


<section class="Resume__section">

    <div class="container">

            <form method="post" action="/user/resume/save">

                <div class="Resume__section__inner">

                    <h2 class="Resume__title">
                        Ваши данные
                    </h2>

                    <div class="Resume__name resume__block">

                        <p class="name__title resume_inner_title">
                            Имя
                        </p>

                        <input type="text" class="Resume__name__input resume__input" placeholder="Имя" value="{{.UserName}}" name="name" autocomplete="off" required>

                    </div>

                    <div class="Resume__surname resume__block">

                        <p class="surname__title resume_inner_title">
                            Фамилия
                        </p>

                        <input type="text" class="Resume__surname__input resume__input" placeholder="Фамилия" value="{{.UserSurname}}" name="surname" autocomplete="off" required>

                    </div>

                    <div class="Resume__mobile__number resume__block">

                        <p class="mobile__number__title resume_inner_title">
                            Мобильный телефон
                        </p>

                        <input type="text" class="mobile__number__input resume__input"  placeholder="+7" value="{{.Mobile}}" name="mobile" autocomplete="off" required>

                    </div>

                    <div class="Resume__city resume__block">

                        <p class="city__title resume_inner_title">
                            Город проживания
                        </p>

                        <input type="text" class="city__input resume__input" name="city" value="{{.City}}" autocomplete="off" required>

                    </div>

                    <button class="resume_btn" value="{{.Id}}" name="resume_btn">Сохранить</button>
                </div>
            </form>

</div>

</div>

    </div>

</section>

</body>
</html>