@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo__btn{
    display: flex;
    align-items: center;
}
.logo__img{
    width: 85px;
    height: 80px;
    margin-top: 4px;
    margin-right: 50px;
}

.header__inner{
    display: flex;
    padding: 0 200px;
    max-width: 100%;
    height: 80px;
    background-color: #222;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

.header__btn{
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
    cursor: pointer;
    height: 38px;
    border: 1px solid;
    font-size: 14px;
    line-height: 36px;
    color: #9efba1;
    border-radius: 19px;
    border-color: rgba(158,251,161,.5);
    vertical-align: middle;
    padding: 0 15px;
    letter-spacing: 1px;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
    outline: none;

}
.header__btn:hover{
    border: 1px solid  #9efba1;
}

.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__list-link{
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}


.menu__list-link:hover{
    color:#09f;
}
.menu__list-link__btn{
    border: 0px;
    background-color: #222;
    margin-left: 40px;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.menu__list-link__btn:hover{
    color:#09f;
}

.Creat__vacancy__section__inner{
    max-width: 720px;
    margin-top: 100px;
}

.Creat__vacancy__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Creat__vacancy__blocks__title{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 22px;
    color: #333;
    font-weight: 400;
    margin-bottom: 30px;
}

.Creat__vacancy_inner_title{
    font-weight: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.Creat__vacancy__input{
    width: 400px;
    height: 38px;
    border: 1px solid #cbd1d4;
    font-size: 14px;
    font-family: Arial,sans-serif;
    line-height: 36px;
    background-color: #fff;
    color:#333;
    padding: 0 11px;
    outline: none;
}
.Creat__vacancy__input:focus{
    border: 1.5px solid #09f;
}

.Creat__vacancy__information__input{
    resize: vertical;
    min-height: 48px;
    max-height: 300px;
    line-height: 1.2em;
    white-space: pre-wrap;
}

.Creat__vacancy_btn{
    height: 46px;
    padding: 0 25px;
    font-size: 16px;
    font-family: Arial,sans-serif;
    line-height: 44px;
    color: #fff;
    border-color: #0f8fee;
    background-color: #0f8fee;
    outline: none;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    width: 250px;
}