
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo__btn{
    display: flex;
    align-items: center;
}
.logo__img{
    width: 85px;
    height: 80px;
    margin-top: 4px;
    margin-right: 50px;
}

.header__inner{
    display: flex;
    padding: 0 200px;
    max-width: 100%;
    height: 80px;
    background-color: #222;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}


.container{
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

.header__btn{
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
    cursor: pointer;
    height: 38px;
    border: 1px solid;
    font-size: 14px;
    line-height: 36px;
    color: #9efba1;
    border-radius: 19px;
    border-color: rgba(158,251,161,.5);
    vertical-align: middle;
    padding: 0 15px;
    letter-spacing: 1px;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
    outline: none;

}
.header__btn:hover{
    border: 1px solid  #9efba1;
}

.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__list-link{
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: none;

}


.menu__list-link:hover{
    color:#09f;
}
.menu__list-link__btn{
    border: 0px;
    background-color: #222;
    margin-left: 40px;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.menu__list-link__btn:hover{
    color:#09f;
}

.job__vacancy__inner{
    max-width: 968px;
    background-color: #fff;
    margin-left: 150px;
    margin-top: 50px;
}

.job__vacancy__inner__block{
    padding: 30px 20px;
    border: 1px solid #f1c846;
    margin-bottom: 10px;
}

.job__vacancy__title_salary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.job__vacancy_title{
    font-family: Arial,sans-serif;
    color: #09f;
    font-size: 18px;
    font-weight: 400;
}

.job__vacancy__salary{
    font-size: 18px;
    font-family: Arial,sans-serif;
    color: #333;
}

.job__vacancy__company{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

.job__vacancy__city{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 0.5px;
}

.job__vacancy__description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5em;
    margin-top: 6px;
    margin-bottom: 10px;
}

.job__vacancy__response{
    background-color: #fff;
    border: 0px;
    outline: none;
    cursor: pointer;
    color:#609fcf;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.job__vacancy__response:hover{
    color: #cf0052;
}
