*{
    box-sizing: border-box;
}

body{
    background-color: #f1f4f7;
}

.container{
    max-width: 1244px;
    height: 50px;
    padding: 0 15px;
    margin: 0 auto;
}

.registration-block{
    padding: 0 25px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 600px;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.registration__title{
    padding-top: 70px;
    color: #5e5c74;
    font-weight: 600;
    font-size: 24px;
}


.registration__input{
    width: 100%;
    clear: both;
    margin: 8px 0;
    height: 50px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #f1f4f7;
    background-color: #f1f4f7 !important;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5e5c74;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.radio__btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;


}

.radio__span{
    line-height: 1.5;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5e5c74;
    font-size: 1.1em;
}

.registration__submit{
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: 'BS', Roboto, Arial, sans-serif;
    height: 58px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    background-color: #5e5c74;
    border: 1px solid #5e5c74;
    border-radius: 5px;
    margin-bottom: 15px;
}

.registration__submit:hover{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorization__link{
    line-height: 45px;
    color: #02A0EA;
    text-decoration: none;
}
